@import "tailwindcss";

@theme {
  --color-brand: #071A1B;
  --color-brand-light: #f3e8ff;
  --color-accent: #96e0bf;
  --font-sans: paralucent, sans-serif;
}

*, *::before, *::after {
  font-family: paralucent, sans-serif !important;
}

.font-indie-flower {
  font-family: 'Dancing Script', cursive !important;
  font-weight: 700 !important;
}
